body
{
    margin: 0;
    border: 0;
    padding: 0;
}

div[class="thanhtung-header"]
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0;

    align-items: center;
    justify-content: center;

    max-width: 85%;

    margin-left: auto;
    margin-right: auto;
}

div[class="thanhtung-header"] > *
{
    background-color: black;
    color: white;
}

div[class="thanhtung-header"] > a
{
    height: 100%;

    text-align: center;
    vertical-align: middle;

    padding: 0;
}

div[class="thanhtung-header"] > a > p
{
    padding: 0;
}

div[class="thanhtung-header"] > a:hover
{
    background-color: orange;

    border: 0;

    transition-duration: 2.5s;
    transition-timing-function: ease-in-out;

    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

div[class="thanhtung-header"] > button
{
    display: none;
}

div [class="dsbaiviet"]
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    justify-content: center;
}